* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* THEMES */
body.light {
  background: #f9f9f9;
  color: #000;
}

body.dark {
  background: #121212;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: var(--header-bg);
}

body.light header { background: white; }
body.dark header { background: #1f1f1f; }

.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: red;
}

.logo .play {
  background: red;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 8px;
}

header input {
  width: 40%;
  padding: 8px;
}

#themeToggle {
  padding: 6px 10px;
  cursor: pointer;
}

/* LAYOUT */
.container {
  display: flex;
}

/* SIDEBAR */
aside {
  width: 200px;
  padding: 20px;
}

aside p {
  margin-bottom: 15px;
  cursor: pointer;
}

/* VIDEOS */
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.video {
  background: white;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

body.dark .video {
  background: #1f1f1f;
}

.video:hover {
  transform: scale(1.03);
}

.video img {
  width: 100%;
}

.video h4 {
  margin: 10px 0 5px;
}
